* text=auto
*.sh text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.jar binary
*.apk binary
*.zip binary
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
